# Copyright (c) 2025 ETH Zurich and University of Bologna
# SPDX-License-Identifier: Apache-2.0

# editors
*.swp
*~
compile_commands.json
.cache/
build*/
.vscode/

# build
/build*/

__pycache__
build
dist
**/*.egg*
*.vscode
.DS_Store
*.html
.ipynb_checkpoints/
*#
*.onnx
*.pkl
*.data
*#

# Python Virtualenv
venv/