# Copyright (c) 2025 ETH Zurich and University of Bologna
# SPDX-License-Identifier: Apache-2.0

#
# Board Configuration
#
CONFIG_BOARD_SENSEI_BASEV1=y
CONFIG_BOARD_SENSEI_SENSORV1=y
CONFIG_BOARD_SENSEI_DEBUGV1=y

CONFIG_PLATFORM_BOARD=y

#
# Driver Configuration
#
CONFIG_DRIVER_UDMAUART=y
CONFIG_DRIVER_UART0=y

#
# IO Configuration - Use UART for printf
#
CONFIG_IO_TYPE_UART=y
CONFIG_IO_UART_BAUDRATE=115200
