// Copyright (c) 2025 ETH Zurich and University of Bologna
// SPDX-License-Identifier: Apache-2.0

/dts-v1/;
/plugin/;

/{
    sensei_debugv1
    {
        compatible   = "gwt, gap9";
        target-path  = "/";
        __overlay__
        {

        };
    };
};
