# Copyright (c) 2025 ETH Zurich and University of Bologna
# SPDX-License-Identifier: Apache-2.0

CONFIG_PLATFORM_BOARD=y
CONFIG_BOARD_BOARD_SENSEIV1=y

# Disable JTAG Semihosting as, this mode ONLY can be used when boot from JTAG,
# it will cause the process hang if it’s used in boot from flash.
# CONFIG_IO_TYPE_DISABLED=y
# CONFIG_IO_TYPE_UART=y
CONFIG_IO_TYPE_JTAG=y

#These two lines are needed for AT include even though esternal Ram and Flash are not used
CONFIG_DRIVER_TYPE_FLASH=y
CONFIG_DRIVER_TYPE_RAM=y

CONFIG_DRIVER_HM0360=y
CONFIG_DRIVER_HM0360_BUS_I2C=y
CONFIG_DRIVER_HM0360_DATA_BUS_CSI2=y
CONFIG_DRIVER_HM0360_FORMAT_QVGA=y

CONFIG_GAP9EVK_CAMERA_DEPS=y

CONFIG_LIB_GAP_LIB=y
CONFIG_LIB_GAP_LIB_IMG_IO=y

CONFIG_IO_PRINTF_FLOAT_ENABLE=y
# CONFIG_PI_LOG_LEVEL_TRACE=y
CONFIG_APP_LOG=y
# CONFIG_DRIVER_HM0360_LOG=y

CONIFG_SAVING_PICTURE=y

# CONFIG_CFLAGS_GLOBAL_OPTIM_LEVEL_O0=y
# CONFIG_GDB_SERVER=y

CONFIG_BOARD_SENSEI_BASEV1=y
CONFIG_BOARD_SENSEI_SENSORV1=y
