# Copyright (c) 2025 ETH Zurich and University of Bologna
# SPDX-License-Identifier: Apache-2.0

CONFIG_DRIVER_I2C=y

CONFIG_PLATFORM_BOARD=y
# CONFIG_PLATFORM_GVSOC=y

# Disable JTAG Semihosting as, this mode ONLY can be used when boot from JTAG,
# it will cause the process hang if it’s used in boot from flash.
CONFIG_IO_TYPE_DISABLED=y
# CONFIG_IO_TYPE_UART=y
# CONFIG_IO_TYPE_JTAG=y